@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;1,400&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
}

header{
	background-color: rgb(18, 138, 181);
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between; 
	align-items: right;
	padding: 10px 20px;
	
}
header .logo{
	 font-weight: bolder;
	 font-size: 45px;
	 color: #000000;
	 justify-content: center;
	 font-family: 'Josefin Slab', serif;
}
header .navbar ul{
	list-style: none;
}
header .navbar ul li{
	position: relative;
	float: left;
}
header .navbar ul li a{
	font-size: 25px;
	padding: 20px;
	color: #ffffff;
	display: block;
	font-family: 'Josefin Slab', serif;
}
header .navbar ul li a:hover{
	color: black;
}
header .navbar ul li ul{
	position: absolute;
	left: 0;
	width: 200px;
	background-color: rgb(18, 138, 181);
	display: none;
}
header .navbar ul li ul li{
	width:100%;
	border-top: 1px ;
}
header .navbar ul li ul li ul{
	left: 200px;
	top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
	display: initial;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size: 30px;
    color: #333;
}
.container .content h3 span{
    background: #C3A77B;
    color: #fff;
    border-radius: 5px;
    padding:0 15px;
}
.container .content h1{
    font-size: 50px;
    color: #333;
}
.container .content h1 span{
    color: #C3A77B;
}
.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}
.container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin:0 5px;
    text-transform: capitalize;
}
.container .content .btn:hover{
    background: cornflowerblue;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(red, green, blue, alpha);
    background: #fff;
    text-align: center;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}
.form-container form select option{
    background: #fff;
}
.form-container form .form-btn{
    background: #629cb7;
    color: #000000;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: #035d7a;
    color: #fff;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}
.form-container form p a{
    color: #035d7a;
}


